
//@import url('src/assets/css/bootstrap.min.css');

.bg-background {
background: #fff;
}
.list-style-inline-table{
    list-style: none;
    display: inline-table;
}
.brands-name ul {
    display: inline !important;
}


